body {

    width: 350px;

    padding: 20px;

    font-family: Arial, sans-serif;
    /*background-color: #393f46;
    color:aliceblue;*/

}

h1 {
    text-align: center;
}
.input-area {

    display: flex;

    gap: 8px;

}

#todoInput {

    flex: 1;
    padding: 8px;

}

#addButton {
    padding: 8px 12px;
    cursor: pointer;
}

#todoList {
    padding: 0;
    list-style: none;
}

#todoList li {
    padding: 10px;
    margin-top: 8px;
    background: #f1f1f1;
}
#todoList li {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 10px;

    margin-top: 8px;

    background: #f1f1f1;

}


#todoList li button {

    border: none;

    background: transparent;

    cursor: pointer;

    font-size: 16px;

}
#todoList li button {

    border: none;

    background: transparent;

    cursor: pointer;

    font-size: 16px;

}