body {
    width: 300px;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #393f46;
    color:aliceblue;
}

h2 {
    margin-top: 0;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#results {
    line-height: 1.8;
}
